<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contato - Decorize</title>

    <link rel="stylesheet" href="contatos.css">
</head>

<body>

    <!-- =========================
         HEADER
    ========================== -->

    <header class="header">

        <!-- Espaço reservado para o logo -->
        <div class="logo"></div>

        <nav class="menu">

            <a href="../index.html">INÍCIO</a>
            <a href="../sobre-nos/sobre-nos.html">SOBRE-NÓS</a>
            <a href="../projetos/projetos.html">PROJETOS</a>
            <a href="../contatos/contatos.html">CONTATO</a>
            <a href="../login/login.html">CONTA</a>

        </nav>

    </header>


    <!-- =========================
         CONTATO
    ========================== -->

    <main class="contato">

        <div class="informacoes">

            <p>
                Gmail:
                <span>Lorem Ipsun@gmail.com</span>
            </p>

            <p>
                telefone:
                <span>(99) 99999-9999</span>
            </p>

        </div>

    </main>


    <!-- =========================
         FOOTER
    ========================== -->

    <footer class="footer"></footer>

</body>

</html>